<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper SYSTEM "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.king.gmall.product.mapper.SpuSaleAttrMapper">
    <resultMap id="saleAttrMap" type="com.king.gmall.model.product.SpuSaleAttr"
               autoMapping="true">
        <id column="id" property="id"></id>
        <collection property="spuSaleAttrValueList"
                    ofType="com.king.gmall.model.product.SpuSaleAttrValue"
                    autoMapping="true">
            <id property="id" column="vid"></id>
        </collection>
    </resultMap>
    <select id="selectSpuSaleAttrList" resultMap="saleAttrMap">
        SELECT
            a.id,a.spu_id,a.base_sale_attr_id,a.sale_attr_name,v.id vid,v.sale_attr_value_name
        FROM
            spu_sale_attr a
                INNER JOIN
            spu_sale_attr_value v
            ON
                        a.spu_id = v.spu_id
                    AND
                        a.base_sale_attr_id = v.base_sale_attr_id
        WHERE
            a.spu_id = #{spuId}
    </select>
    <!--    根据spuId和skuId获取商品销售属性-->
    <select id="spuSaleAttr" resultMap="saleAttrMap">
        SELECT
            sa.id,
            sa.spu_id,
            sa.sale_attr_name,
            sa.base_sale_attr_id,
            sav.id sale_attr_value_id,
            sav.sale_attr_value_name,
            skv.sku_id,
            IF(skv.sku_id IS NULL,0,1) is_checked
        FROM
            spu_sale_attr sa
                INNER JOIN
            spu_sale_attr_value sav
            ON
                sa.spu_id = sav.spu_id AND sa.base_sale_attr_id = sav.base_sale_attr_id
                LEFT JOIN
            sku_sale_attr_value skv
            ON
                sav.id =skv.sale_attr_value_id AND skv.sku_id = #{skuId}
        WHERE
            sa.spu_id = #{spuId}
        ORDER BY
            sav.base_sale_attr_id,sav.id

    </select>
</mapper>